name: Build/Upload Docker Container

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set lowercase repo owner
        id: lowercase
        run: echo "owner_lc=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.owner_lc }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to Registries
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/${{ env.owner_lc }}/qmk_base_container:latest
            ghcr.io/${{ env.owner_lc }}/qmk_base_container:debian13-qmk1.1.8
            ghcr.io/${{ env.owner_lc }}/qmk_base_container:${{ github.sha }}
